* {
  font-family: '0xProto Nerd Font Mono', monospace;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 0.16em solid #b7bdf8; /* --lavender */
  border-radius: 0.5em;
  background-color: #24273a; /* --base */
  animation: slideIn 0.5s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #24273a; /* --base */
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #24273a; /* --base */
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: #24273a; /* --base */
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border-radius: 0.5em;
  border: none;
  /* border-color: #b7bdf8; */
  color: #cad3f5; /* --text */
  background-color: #24273a; /* --base */
  animation: fadeIn 0.5s ease-in-out both;
  
}

#input image {
  border: none;
  color: #ed8796; /* --red */
}

#input * {
  outline: 4px solid #ed8796 !important; /* --red */
  
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: #cad3f5; /* --text */
  animation: fadeIn 0.5s ease-in-out both;
  
}

#entry {
  background-color: #24273a; /* --base */
  
}

#entry arrow {
  border: none;
  color: #b7bdf8; /* --lavender */
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid #b7bdf8; /* --lavender */
}

#entry:selected #text {
  color: #c6a0f6; /* --mauve */
}

#entry:drop(active) {
  background-color: #b7bdf8 !important; /* --lavender */
}